<style>
h2
{ 
font-size: 25px;
font-famyly: Arial;
color: purple;
text-align: left;
background-color: skyblue;
}
</style>
<style>
h3
{
font-size: 20px;
font-famyly: Helvetica;
color: blue;
text-align: center;
background-color: yellow;
}
</style>
