h2
{ 
font-size: 25px;
font-famyly: Arial;
color: blue;
text-align: left;
background-color: grey;
}
h3
{
font-size: 20px;
font-famyly: Helvetica;
color: blue;
text-align: center;
background-color: yellow;
}
