h2
{ 
font-size: 25px;
font-famyly: Arial;
color: purple;
text-align: left;
background-color: pink;
}
h3
{
font-size: 20px;
font-famyly: Helvetica;
color: blue;
text-align: center;
background-color: yellow;
}
.rediska
{
  font-size: 15px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.zagolovok
{
 font-size: 30px; 
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
